@charset "utf-8";
/* CSS Document */
header, nav {
  max-width:100%;
}

aside {
  width:450px;
}

.flex {
  display:flex;
}

nav {
  max-height:40px;
  height:40px;
  margin-bottom:10px;
  margin-left:25px;
  margin-right:25px;
  border:1px solid #69819A;
  background-color:#69819A;
}

header {
  max-height:200px;
  height:200px;
  margin-bottom:10px;
  margin-left:25px;
  margin-right:25px;
}

main {
  margin-left:20px;
  margin-right:25px;
  width:100%;
  font-family:Comfortaa;
}

section {
  border:1px solid #AEBDCC;
  background-color:#AEBDCC;
  margin-bottom:10px;
  padding:8px;
  font-family: Comfortaa;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:15px;
  padding-top:15px;
}

article { 
  border:1px solid #AEBDCC;
  background-color:#AEBDCC;
  margin-bottom:15px;
  padding:8px;
  font-family: Comfortaa;
  color:#37495C;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:15px;
  padding-top:15px;
}

.subtitle {
  border:1px solid #69819A;
  background-color:#69819A;
  padding:6px;
  font-size:20px;
  margin-bottom:8px;
  text-align:center;
  color:#2A3949;
  font-weight:bold;
  margin-bottom:20px;
}

.left-sidebar {
  margin-left:25px;
  color:#37495C;
}

.links {
  list-style-type:none;
  padding-left:10px;
}

.links li {
  margin-bottom:8px;
}

.links li a {
  text-decoration:none;
}

.nav {
  margin-top:5px;
  text-align:center;
  padding-top:5px;
  font-family: Comfortaa;
}

.nav li {
  display:inline-block;
  padding-right:60px;
  color:#2A3949;
}

body {
  background-color: #C9D3DD;
}

a {
  color:#2A3949;
  font-weight:bold;
}